<% if (blogs.length> 0) { %>
  <div class="card-body table-responsive p-0">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>User</th>
          <th>Title</th>
          <th>Status</th>
          <th>Create at</th>
        </tr>
      </thead>
      <tbody>
        <% for (let blog of blogs) { %>
          <tr>
            <td><%= blog._id %></td>
            <td><%= fullname %></td>
            <td><a href="/blogs/<%= blog._id %>"><%= blog.title %></a>
            </td>
            <td>
              <span class="badge <%= blog.status === "public" ? 'badge-success' : 'badge-warning' %>">
                  <%= blog.status === "public" ? "عمومی" : "خصوصی" %>
              </span>
          </td>
            <td>
              <%= formatDate(blog.createdAt) %>
            </td>

                <td>
                    <a href="/dashboard/edit-post/<%= blog._id %>" class="btn btn-sm btn-primary">ویرایش</a>
                </td>
                <td>
                    <a href="/dashboard/delete-post/<%= blog._id %>" class="btn btn-sm btn-danger">حذف</a>
                </td>

          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
  <% } else { %>
    <div class="text-center">
      <h3 class="mt-2">
        در حال حاضر هیچ پستی توسط شما در پایگاه داده ثبت نشده است
      </h3>
    </div>
    <% } %>
